.call-to-action-box {
  background: $gray;
  border-radius: 2px;
  box-shadow: 0 0 2px 0 $gray;
  padding: 20px;
  text-align: center;

  .title {
    @extend .t-light;
    @extend .t-shadowed;
    text-transform: uppercase;
  }

  h5 {
    @extend .t-light;
    @extend .t-shadowed;
    font-size: 14px;
    font-weight: 300;
  }
}