.et_pb_blurb.et_pb_blurb.et_pb_bg_layout_dark:not(.et_pb_text_align_left) {
  border: 0;
  @include aspect-ratio(4, 3);
  transition: all .3s ease;

  .et_pb_blurb_content {
    position: absolute;
    height: 100%;
    overflow: hidden;
  }

  .et_pb_main_blurb_image {
    margin: 0;

    a {
      display: block;
    }
  }

  .et_pb_blurb_container {
    background: $brand-primary;
    padding: 20px 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-bottom: 5px solid $brand-dark;

    * {
      margin: 0;
      padding: 0;
      text-transform: none;
      font-size: 16px;
    }

    h4 {
      a {
        display: block;

        &:hover {
          color: $white;
        }
      }
    }
  }

  &:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
  }
}
