.et_pb_blurb.et_pb_blurb.et_pb_bg_layout_dark {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  @include aspect-ratio(4, 3);
  overflow: hidden;

  .et_pb_blurb_content {
    position: absolute;
    height: 100%;
  }

  .et_pb_main_blurb_image {
    margin: 0;
  }

  .et_pb_blurb_container {
    background: $brand-primary;
    padding: 20px 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-bottom: 5px solid $brand-dark;

    * {
      margin: 0;
      padding: 0;
      text-transform: none;
      font-size: 16px;
    }

    h4 {
      a {
        display: block;

        &:hover {
          color: $white;
        }
      }
    }
  }
}
