.et_pb_button.et_pb_button {
  &.et_pb_bg_layout_light {
    color: $white;

    &:hover {
      background: $brand-dark;
      text-decoration: none;
    }
  }

  &.btn-orange {
    background-color: $orange;

    &:hover {
      background: darken($orange, 10%);
    }
  }
}

.et_pb_contact_submit {
  color: $white;

  &:hover {
    color: $brand-primary;
  }
}

.caldera-grid .btn-default {
  @extend .btn;
  background: $brand-primary;
  color: $white;
}

.btn {
  border-radius: 2px;
  font-size: 18px;
  padding: 0.5em 1em;
  text-transform: uppercase;
}

.btn-special {
  @extend .t-shadowed;
  background: $orange;
  border-radius: 1px;
  color: $white;
  font-size: 18px;
  padding: 10px 20px;
  position: relative;
  text-transform: uppercase;
  transition: all 300ms ease;

  &:after {
    background: darken( $orange, 10% );
    content: '';
    bottom: -3px;
    display: block;
    height: 3px;
    left: 0;
    position: absolute;
    width: 100%;
  }

  &:hover, &:active, &:focus {
    color: $white;
  }

  &:hover {
    box-shadow: 0 1px 10px 1px rgba(0,0,0,0.5);
  }

  &:active, &:focus {
    box-shadow: 0 1px 0 0 #000;
    transform: translateY(2px);

    &:after {
      height: 0;
    }
  }
}
