.hero-wrap.hero-wrap {
  position: relative;
  padding-top: 120px;

  .et_pb_section_video_bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include linear-gradient($trans-blue-70, $trans-blue-0);
    z-index: 1;
  }

  & > * {
    z-index: 5;
  }

  .content {
    //position: absolute;
    //top: 50%;
    //transform: translate3d(0, -50%, 0);
    //width: 100%;
    padding-bottom: 0;

    .title {
      @extend .t-light;
      // margin-bottom: 35px;
      position: relative;
      text-align: center;
      // text-shadow: 0 0 30px $text-dark;
      text-transform: uppercase;

      span {
        display: block;

        &.super {
          font-size: 2vw;
          margin-bottom: .75em;
        }

        &.curved {
          position: relative;
          width: 80%;
          height: 110px;
          padding: 1px 0;
          letter-spacing: -2px;
          margin: 0 auto;
          font-weight: bold;

          span {
            display: inline;
          }
        }

        &.sub {
          font-size: 4vw;
        }
      }
    }

    p {
      @extend .t-light;
      @extend .t-shadowed;
      font-size: 20px;
      max-width: 650px;
      margin: auto;
      text-align: center;
    }
  }

  .type-image {

  }

  .type-video {
    video {
      max-width: 100%;
    }
  }
}
