.nav-common {
  li {
    list-style: none;
    position: relative;

    a, a:not([href]) {
      @extend .t-shadowed;
      color: $white;
      display: block;

      &:hover {
        color: $white;
      }
    }
  }
}

$number_of_links: 5;
.nav-primary {
  @extend .nav-common;

  li {
    display: inline-block;

    a {
      background: transparent;
      padding: 8px 15px 13px;
      line-height: 1;
      text-transform: uppercase;
      transition: background 400ms ease;
    }

    &.et-hover, &:hover, &[aria-expanded="true"] {
      .sub-menu {
        visibility: visible;
        opacity: 1;
        transform: translate3d(0, -5px, 0);
      }
    }

    .sub-menu {
      padding: 0;
      border-bottom: 3px solid $brand-dark;
      border-top: none;
      transition: all .3s ease;

      li {
        display: block;
        padding: 0;
      }

      a {
        display: block;
        text-transform: none;
        color: $brand-primary;
        text-shadow: none;

        &:hover {
          background: $brand-primary;
          color: $white;
        }
      }
    }
  }

  @include respondto(sm, xs) {

    li {
      display: block;

      a, a:not([href]) {
        color: $brand-primary;
        display: block;
        font-size: 26px;
        text-align: left;
        text-shadow: none;
        width: 100%;

        &:hover {
          color: $brand-primary;
        }
      }

      .sub-menu {
        position: relative;
        transition: all .3s ease;
        visibility: hidden;
        max-height: 0;
        padding: 0;
        opacity: 0;
        width: auto;
        max-width: 100%;

        a {
          font-size: 18px;
        }
      }

      &.et-hover, &:hover, &[aria-expanded="true"] {
        .sub-menu {
          display: block;
          opacity: 1;
          visibility: visible;
          max-height: 255px;
          padding: 15px 0;
        }
      }
    }
  }
}

/** RESPONSIVE NAV **/
.nav-col {
  @include respondto(sm, xs) {
    position: inherit;
  }

  .navbar-toggler {
    display: inline-block;
    background: transparent;
    float: none;
    font-size: 25px;
    height: auto;
    margin-top: -5px;
    padding: 5px 10px;
    width: auto;

    &:hover {
      border:none;
    }
  }

  .nav-primary-wrap {
    margin-top: 20px;
    display: inline-block !important;

    @include respondto(sm, xs) {
      background-color: #fff;
      height: 100vh;
      float: none;
      left: 0;
      margin-top: 0;
      opacity: 0;
      overflow: scroll;
      padding: 40px 20px 20px;
      position: fixed;
      top: 0;
      transform: translateY(-100%);
      transition: all .2s ease;
      width: 100%;
      z-index: -1;
    }

    &.in {
      @include respondto(sm, xs) {
        opacity: 1;
        transform: translateY(0);
        z-index: 1001;
      }
    }

    .nav-primary {
      width: 100%;
    }

    .navbar-toggler {
      border-radius: 0;
      color: $white;
      display: block;
      background: $brand-primary;
      float: right;
      font-size: 30px;
      height: auto;
      margin: -40px -20px 0 0;
      width: auto;
    }

    .nav-logo {
      background: $brand-primary;
      float: left;
      width: 150px;
      padding: 5px;
      margin: -30px 0 0 0;

      .logo-wrap {
        margin: auto;
        width: auto;
      }
    }
  }
}


.nav-footer {
  @extend .nav-common;
  padding-left: 20px;

  li {
    display: block;
    text-transform: uppercase;
    line-height: 1.5em;
    font-weight: bold;
  }
}

.nav-social-wrap {
  :first-child {
    @extend .t-light;
    @extend .t-shadowed;
    font-size: 16px;
    text-transform: uppercase;
  }
}

.nav-social {
  @extend .nav-common;
  max-width: 200px;
  line-height: 40px;

  li {
    padding: 0 12px 15px 0;
    display: block;
    float: left;
  }

  a {
    border-radius: 100%;
    box-shadow: none;
    display: inline-block;
    transition: all 200ms ease;

    &:hover {
      box-shadow: 0 0 10px 1px $brand-dark;
      text-decoration: none;
      transition: all 300ms ease;

      &:before {
        color: $brand-dark;
        transition: all 300ms ease;
      }
    }
  }
}

.nav-micro {
  @extend .nav-common;

  li {
    display: inline-block;
    line-height: inherit;

    &:first-child {
      :after {
        content: '\2022';
        display: inline-block;
        padding: 0 10px;
      }
    }
  }
}
