.newsletter-signup {
  & > p:first-child, & p:last-child {
    display: none;
  }
}

.mailchimp-signup {

  [type="email"] {
    border: 1px solid $border-main;
    border-right: none;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    padding: 5px;
    width: 250px;

    &:focus {
      outline: none;
    }
  }

  [type="submit"] {
    background: $brand-primary;
    border: 1px solid $brand-dark;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-left: none;
    color: $white;
    padding: 6px 10px;
    text-transform: uppercase;

    &:focus, &:active {
      outline: none;
    }
  }
}
