.search-popover {
  display: none;
  position: absolute;
  top: calc(100% + 20px);
  box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
  right: 0;

  &.visible {
    display: block;
  }
}

.search-action-wrap {
  position: relative;
}

$submit-width: 115px;
form.search-form {
  border: 2px solid $border-dark;
  border-radius: 2px;
  position: relative;

  .search-popover & {
    border-color: $white;
    background: $white;
  }

  label {
    padding-right: $submit-width;
    width: 100%;
  }

  input[type=search] {
    padding: 5px;
    height: auto;
    border: none;
    width: 100%;

    .search-popover & {
      width: 200px;
    }
  }

  input[type=submit] {
    background: $brand-primary;
    border:none;
    border-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    color: $white;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: $submit-width;
    font-size: 12px;

    &:hover, &:active, &:focus {
      background: $brand-dark;
      color: $white;
    }
  }
}
