svg {

  /** Conflicts with compressed svgs with the same class names and style assignment **/
  /** Abstracted to css file for better management **/
  &.svg-clean-air-carolina {
    height: auto;
    
    .st0{fill:#FFFFFF;}
    .st1{fill:#0773B8;}
  }
}
