footer.main {

  .footer {

    &-top {
      background: $brand-primary;

      .row {
        padding: 25px 0;
      }
    }

    &-middle {

      .row {
        padding: 15px 0;
      }
    }

    &-bottom {
      background: $gray;
      color: $white;
      font-size: 12px;
      overflow: hidden;
      line-height: 30px;

      .row {
        padding: 5px 0;
      }

      img {
        vertical-align: middle;
      }
    }
  }

  .contact-info {
    @extend .t-light;
    @extend .t-shadowed;
    font-size: 14px;

    address {
      margin-bottom: 0;
      line-height: 1.2em;
    }

    a, a:hover {
      @extend .t-light;
    }
  }

  .donate-wrap {
    h4 {
      @extend .t-light;
      @extend .t-shadowed;
      font-size: 16px;
      text-transform: uppercase;
    }

    a {
      display: block;
    }

    @include respondto(xs) {
      padding-top: 1em;
      h4 {
        display: none;
      }
    }
  }

  .footer-logos-wrap {
    figure.footer-logos {

      img {
        width: 21%;
        max-width: 150px;
        margin-right: 4%;

        &.bbb {
          width: auto;
          height: 60px;
        }
      }
    }
  }

}
