header.main .nav li {
  @extend .nav-item;
}
header.main .nav a {
  @extend .nav-link;
}

$header-height: 100px;
header.main {
  background: transparent;
  height: $header-height;
  position: fixed;
  transition: background 200ms ease;
  top: 0;
  z-index: $z-index-base;

  @include respondto(sm,xs) {
    text-align: right;
    height: 80px;
    position: absolute;
  }

  &.active {
    background: $brand-primary;
    transition: background 200ms ease;
  }

  .logo-col {
    @include respondto(sm,xs) {
      width:auto;
    }
  }

  .logo-wrap {
    max-width: 170px;
  }

  .row {
    padding-top: 10px;
  }

  .nav-col {
    text-align: right;

    & > div {
      display: inline-block;
    }
  }

  .search-action-wrap.search-action-wrap {
    margin-top: 10px;

    @include respondto(xs) {
      display: none;
    }

    button {
      @extend .t-light;
      @extend .t-shadowed;
      background: transparent;
      border: none;
      font-size: 1.5em;
      padding: 0 10px;
    }
  }

  .donate-wrap {
    margin: 10px 10px 0;

    @include respondto(xs) {
      margin-right: 0;
    }

    a {
      display: block;
      width: 100%;
    }
  }
}
