.et_pb_blog_grid {

  .et_pb_post {
    margin-bottom: 30px !important;
  }

  h2 {
    text-align: left;
    color: $brand-primary !important;
    background: none !important;
    padding: 0;
  }

  .post-content {
    p {
      padding: 0 !important;
    }

    .more-link {
      background: $brand-primary;
      color: $white;
      text-transform: uppercase;
      padding: 5px 10px;
      font-weight: bold;
      transition: all .3s ease;

      &:hover {
        text-decoration: none;
        background: $brand-dark;
      }
    }
  }

  .et_pb_image_container {
    margin: -19px -19px 10px;
  }
}
